@import 'uvars';

.fileupload {
  label {
    background-color: @u-gray;
    border-radius: 0.2rem;
    min-height: 100px;
    color: @d-gray;
    font-family: @normal-font;
    margin: 1rem 0.5rem;
    border: 2px dashed @l-gray;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
    transition: background-color 0.3s linear, border-color 0.3s linear;
  }

  input[type="file"] {
    display: none;
  }

  .fileupload-file {
    background-color: @white;
    min-width: 200px;
    width: ~'calc(50% - 1rem)';
    padding: 0.5rem;
    margin: 0.5rem;
    box-sizing: border-box;
    border: 1px solid darken(@u-gray, 2%);
    display: flex;
    color: @black;
    cursor: pointer;
    align-items: center;

    .fileupload-file__icon {
      width: 48px;
      height: 48px;
      border-radius: 0.2rem;
      background: @u-gray url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEwSURBVGiB7Zq9TsMwFEYPyH4FFuZOhWTIzlB46S6wsEaRXCrxDOURLLkMkZBa0Sj+Cb5U96y2bnL02Te2FFBkcTM12HXdccFn77z3L865Q4lityWKJPJorX1v2/a+RLFZifR9PzkvlrOk9977TW4yNRMB+ATW1trXpmnucgpVFQkhPAE7RpmsZVZVZBiGrxDCM6PMyhjzlipTe2kVk6kuAicyHyTKiBCBUcZ7nywjRgTAOXdIlRElAicyeyJkxInAj8yGCBnzN6/2OxFnuZUxZgs8XJogMpELrKcGqyQSe3abk9x/SmQSFZGGikgjq2uVvtPn3EQ1ESh/l8/hahJREWlU7Vol95gmAtq1FkFFpKFnLWlo15KGikhDRaShItJQEWnM+rIv/E9KEa4mEUUa3/gVetlELJAvAAAAAElFTkSuQmCC') center no-repeat;
      background-size: 80%;
    }

    .fileupload-file__info {
      flex: 1;
      padding: 0.1rem 0.5rem;
      overflow: hidden;

      .fileupload-file__title {
        font-family: @bold-font;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.1rem;
        overflow: hidden;
      }

      .fileupload-file__meta {
        font-size: 0.9rem;
        color: @m-gray;
      }
    }

    &:hover {
      background-color: darken(@white, 1%);
    }
  }

  &.fileupload--drag {
    label {
      background-color: @u-blue;
      border-color: @l-blue;
    }
  }

  &.fileupload--empty {
    label {
      justify-content: center;
      align-items: center;
    }
  }

  &.fileupload--invert {
    label {
      background-color: @d-gray;
      color: @white;
      border-color: lighten(@d-gray, 5%);
    }

    .fileupload-file {
      background-color: lighten(@d-gray, 10%);
      border-color: lighten(@d-gray, 15%);
      color: @white;

      .fileupload-file__icon {
        background: @d-gray url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFESURBVGiB7ZqxTsMwFEVP7DBaMCBUxNwp8AsMhZ9mgYU/CJX4BNRmAFViSRozAFIrldDEDn5U72yRrZccXcd5lgKKLLKuwer1zY93a1821t5OnFvEqGZiFBlGdpWv28eqer+IUq1r8DuR05Pjznl92Uo6Y94YMwtNJmEiADzjKfK2vX9Zrc5CCiUVqa25Bl/iKUKXWVKRc+eWtbU34EtgSl4/DJVJvbSiySQXgS2ZJwbKiBCBT5kmQEaMCMDEucVQGVEisCGTMaeHjDgR+JIxZtZHJv+jZ9tJZy+3bjevphzVd8DlT9NFJrITT9E1nCSRvr3bPl34/0nkF1REGioijaBdK/aZPuQkqolA/LN8CAeTiIpII+muFfMd00RAd61RUBFpaK8lDd21pKEi0lARaaiINFREGnt92cf9JyUOB5OIIo0PlreFOj+9D4YAAAAASUVORK5CYII=') center no-repeat;
        background-size: 80%;
      }
    }

    &.fileupload--drag {
      label {
        background-color: darken(@d-blue, 10%);
        border-color: @d-blue;
      }
    }
  }
}